// Template for the author list

div#author-list.container-fluid
  h1.my-4 Vælg en Forfatter
  div.row
    each author in authors
      div.col-sm-4
        div.card.mb-3
          div.card-body
            h5.card-title #{author.display}
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#', data-name=author.name, data-display=author.display) Spørg #{author.display}
