// Template for the author video

div.author-video-wrapper
  video#author-video.video-js(loop="loop" autoplay preload="auto")
    source(src='/forfattere/' + author + '/loop.mp4' type='video/mp4')
a#close-video(href="#")
